doctype html
html(lang="en")
    include ../includes/head.pug
    body
        .container
            .page-header
                block main
            .content
                block content
        include ../includes/foot.pug
