extends ./layouts/default

block main
    p=message
    div(id='displayName')
    img(id='avatar', height=200)
    div(id='data')
    button(onclick='onClick()' class='btn btn-primary' type='button') Check

    script.
        lineLiffId="#{lineLiffId}";
        document.addEventListener('DOMContentLoaded', () => liffInit(lineLiffId));
